html {
	background-color: black;
}
.nav ul {
	padding: 0px 18px;
	display: block;
}
.nav a {
	padding: 8px 18px;
	border: 2px solid #eeeeee;
	border-radius: 8px;
	position: relative;
	cursor: pointer;
	background-color: #000000;
	display: block;
	text-decoration: none;
 }
.nav a:active {
	background-color: #818181;
}
.nav a:hover {
	background-color: #eeeeee;
	border: 2px solid #eeeeee;
}
li {
	display: inline-block;
}
.bg img {
	width: 100%;
	justify-content: center;
}
.main {
	display: flex;
}
.A {
	float:left; 
	margin:0; 
	width: 33%; 
	box-shadow: 0px 0px 5px grey;
	padding: 5px;
	border-radius: 15px;
	background-color: #eeeeee;
  }
 .A img {
 	height: 300px;
 	width: 100%;
	border-radius: 15px;
	 }
 .B {
	float:left; 
	margin:0; 
	width:33%;
	 box-shadow: 0px 0px 5px grey;
	 padding: 5px;
	border-radius: 15px;
	background-color: #eeeeee;
   }
 .B img {
 	height: 300px;
 	width: 100%;
	border-radius: 15px;
	 }
 .C {
	float:left; 
	margin:0; 
	width:33%;
	 box-shadow: 0px 0px 5px grey;
	 padding: 5px;
	border-radius: 15px;
	background-color: #eeeeee;
   }
 .C img {
 	height: 300px;
 	width: 100%;
	border-radius: 15px;
	 }
a {
 	color: #075BA1;
 	text-decoration: none;
 	font-family: "Verdana", sans-serif;
 	font-weight: bold;
 }
